/* RESET
---------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* BASIC FORMATING*/
.aside {
width: 20%;
text-align: center;
}
html {
  font-size: 16px;
  color: none;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  color:black;
  font-size: 1rem;
}
.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}
body {
  line-height: 1;
}

aside {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 250px;
  background: #a8b7abbd;
  color:black;
}
main {
  margin-left: 280px;
}

h1{
  font-size: 32px;
}
h2 {
  font-size: 28px;
}
h3 {
  font-size: 24px;
}
a:hover {
color: lightblue;
text-decoration: none;
background-color: darkgoldenrod;
}

a:link, a:visited {
  color: black;
  text-decoration: dotted;
background-color: none;
padding: 14px 14px;
text-align: center;
display: inline;
}
a:hover, a:active {
background-color:lightgray;
font: 16px Roboto, sans-serif;
margin: 3.2px 0px;
}

p {
font-size: initial;
font-weight: bold;
color: darkgray;
}
input [type=text] {
width: 100%;
height: 12px 22px;
margin: 8px 0px;
box-sizing: initial;
}
/*---------------------------------------*/

/* sub-sections
---------------------------------------*/
figcaption {
  font-size: 24px;
  color: black
}
h2.heading {
  font-size: large;
font-weight: bold;
color: thistle;
}
img.heading {
font-size: medium;
}

/* top margin
.margin-top-none    { margin-top: 0; }
.margin-top-quarter { margin-top: $base-space-unit / 4; }
.margin-top-half    { margin-top: $base-space-unit / 2; }
.margin-top-one     { margin-top: $base-space-unit; }
.margin-top-two     { margin-top: $base-space-unit * 2; }
---------------------------------------*/

/* padding
.padding-top-none    { padding-top: 0; }
.padding-top-quarter { padding-top: $base-space-unit / 4; }
.padding-top-half    { padding-top: $base-space-unit / 2; }
.padding-top-one     { padding-top: $base-space-unit; }
.padding-top-two     { padding-top: $base-space-unit * 2; }
---------------------------------------*/

/* HELPER CLASSES
---------------------------------------*/

/* sub-sections
---------------------------------------*/


/* LAYOUT
---------------------------------------*/
/* sub-suctions
---------------------------------------*/


/* MEDIA QUERIES
---------------------------------------*/
/* sub-sections
----------------------------------------*/

/* RESET
---------------------------------------*/
/* sub-sections
----------------------------------------*/